{% set largeHeader=true %}
{% set currentPage="Startseite" %}
{% extends "../base.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/shopList.css">
{%endblock%}

{% block main %}
<div class="content">
<h1>Willkommen im offiziellen DM 2019 Shop</h1>

<h2>Wichtige Info</h2>
Produkte müssen vorab gezahlt werden und werden dann an der Veranstaltung ausgehändigt. Es ist kein Versand möglich. Bei Problemen wende dich bitte an <a href="mailto:info@freeststyledm2019.de">info@freeststyledm2019.de</a>.

<h2>Das kannst du kaufen</h2>
<div class="shopItemList">
  {% for shopItem in shopItems %}
    <a href="/orderItem/{{shopItem.id}}" class="shopItemPreview">
    {# <img src="{{shopItem.ShopItemPictures[0].url}}" alt="{{shopItem.label}} - {{shopItem.ShopItemPictures[0].label}}"> #}
    <p class="label">{{shopItem.label}}</p>
    <p class="price">{{shopItem.price}}€</p>
    </a>
  {% endfor %}
</div>
</div>
{% endblock %}