{% set largeHeader=true %}
{% set currentPage="Startseite" %}
{% extends "../base.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/shopList.css">
{%endblock%}

{% block main %}
<div class="content">
<h1>Willkommen im offiziellen DM 2019 Shop</h1>

<h2>Der Shop ist seit dem 30.10.2019 geschlossen! Du kannst keine weiteren Bestellungen aufgeben!</h2>

<h2>Wichtige Info</h2>
Produkte müssen vorab gezahlt werden und werden dann an der Veranstaltung ausgehändigt. Es ist kein Versand möglich. Bei Problemen wende dich bitte an <a href="mailto:info@freeststyledm2019.de">info@freeststyledm2019.de</a>.

<h2>Das kannst du kaufen</h2>
<script defer>
  function show(pic){
    document.querySelector('#mainImage').src=pic.src;
    document.querySelector('#mainImageLink').href=pic.src;
    document.querySelector('.selected').classList.remove('selected');
    pic.classList.add('selected');
  }
</script>
<div class="images">
        <a href="/res/shopItemPictures/design-front.jpg"><img src="/res/shopItemPictures/design-front.jpg" alt="Vorderseite"></a>
        <a href="/res/shopItemPictures/design-back.jpg"><img src="/res/shopItemPictures/design-back.jpg" alt="Rückseite"></a>
    </div>
<div class="shopItemList">
  {% for shopItem in shopItems %}
    <a href="/orderItem/{{shopItem.id}}" class="shopItemPreview">
    {# <img src="{{shopItem.ShopItemPictures[0].url}}" alt="{{shopItem.label}} - {{shopItem.ShopItemPictures[0].label}}"> #}
    <p class="label">{{shopItem.label}}</p>
    <p class="price">{{shopItem.price}}€</p>
    </a>
  {% endfor %}
</div>
</div>
{% endblock %}