
{% extends "../base.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/orderItem.css">
{%endblock%}

{% block main %}
<script defer>
  function show(pic){
    document.querySelector('#mainImage').src=pic.src;
    document.querySelector('#mainImageLink').href=pic.src;
    document.querySelector('.selected').classList.remove('selected');
    pic.classList.add('selected');
  }
</script>
<div class="content">
  <div class="orderItemDetails">
    <div class="images">
      <a href="{{shopItem.ShopItemPictures[0].url}}"target="_blank" id="mainImageLink"><img src="{{shopItem.ShopItemPictures[0].url}}" alt="{{shopItem.label}} - {{shopItem.ShopItemPictures[0].label}}" id="mainImage"></a>
      <div class="imgPreview">
        <img src="{{shopItem.ShopItemPictures[0].url}}" alt="{{shopItem.label}} - {{shopItem.ShopItemPictures[0].label}}" class="selected" onclick="show(this)">
        {% for picture in shopItem.ShopItemPictures.slice(1) %}
          <img src="{{picture.url}}" alt="{{shopItem.label}} - {{picture.label}}" onclick="show(this)">
        {%endfor%}
      </div>
    </div>
    <h1>{{shopItem.label}}</h1>
    <h2 class="price">{{shopItem.price}}€</h2>
    <p class="description">{{shopItem.description}}</p>
    <form action="/shoppingCart" method="post">
  <table>
    <thead>
      <tr>
        <th>Größe</th>
        <th>Anzahl</th>
      </tr>
    </thead>
    <tbody>
    {% for option in shopItem.ShopItemOptions %}
      <tr>
        <td class="right">{{option.label}}</td>
        <td><input type="number" name='selectOption[#{{option.id}}]' id="" value="{{counts[option.id] or 0}}" min=0></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
  <input type="submit" value="Im Warenkorb speichern">
  </form>
  </div>
  
</div>
{% endblock %}