{% set navLinks = [
  {
    url: '/myActs',
    name: 'Meine Küren'
  },
  {
    url: '/timeplan',
    name: 'Zeitplan'
  }
]%}

<nav>
  {% for navLink in navLinks %}
    <a href="{{navLink.url}}" {{ 'class=active' if navLink.name == currentPage }}>{{navLink.name}}</a>
  {% endfor %}

  {% if req.user %}
    <a href="https://login.freestyledm2019.de/logout?redirectBack=https://startlists.freestyledm2019.de">Logout</a>
    {% if req.user.hasRole('Payment', 'Summary') %}
      <h2>Admin</h2>
      <a href="/admin/listAll" {{ 'class=active' if "Payment All" == currentPage }}>Alle Starts</a>
      <a href="/admin/stats" {{ 'class=active' if "Stats" == currentPage }}>Stats</a>
      <a href="/admin/missingActNames" {{ 'class=active' if "missingActNames" == currentPage }}>Missing Act Names</a>
      <a href="/admin/missingActMusic" {{ 'class=active' if "missingActMusic" == currentPage }}>Missing Act Music</a>
      <a href="/startlist" {{ 'class=active' if "Startliste" == currentPage }}>Startliste</a>
    {% endif %}
    {% if req.user.hasRole('Admin') %}
      <a href="/startlist" {{ 'class=active' if "LiveScreenControl" == currentPage }}>Live Control</a>
    {% endif %}
  {%else%}
    <a href="https://login.freestyledm2019.de/?redirectBack=https://startlists.freestyledm2019.de">Login</a>
  {% endif %}
</nav>