
      <nav>
        <a href="/" class="active">Startseite</a>
        <a href="/ausschreibung.html">Ausschreibung</a>
        <a href="/faq.html">FAQ</a>
        <a href="https://anmeldung.freestyledm2019.de" target="_blank" rel="noopener">Anmeldung</a>
      </nav>