{% set navLinks = [
  {
    url: '/',
    name: 'Startseite'
  },
  {
    url: '/shoppingCart',
    name: 'Warenkorb'
  },
  {
    url: '/myOrders',
    name: 'Bestellungen'
  }
]%}

<nav>
  {% for navLink in navLinks %}
    <a href="{{navLink.url}}" {{ 'class=active' if navLink.name == currentPage }}>{{navLink.name}}</a>
  {% endfor %}

  {% if req.user %}
    <a href="https://login.freestyledm2019.de/logout?redirectBack=https://shop.freestyledm2019.de">Logout</a>
    {% if req.user.hasRole('Payment', 'Handout', 'Summary') %}
      <h2>Admin</h2>
      <a href="/admin/listAll" {{ 'class=active' if "Payment All" == currentPage }}>Bestellungen</a>
    {% endif %}
  {%else%}
    <a href="https://login.freestyledm2019.de/?redirectBack=https://shop.freestyledm2019.de">Login</a>
  {% endif %}
</nav>