{% set currentPage="Payment All" %}

{% extends "../../base.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/shoppingCart.css">
<link rel="stylesheet" href="/css/listAllPayments.css">
{%endblock%}

{% macro maybeGrayedOutIcon(value, trueIcon='✔️', falseIcon=trueIcon, shouldGrayscale=true) %}
<span {{"class=grayed" if not value and shouldGrayscale}}>{{trueIcon if value else falseIcon}}</span>
{% endmacro %}

{% macro orderStatusLinkOrText(text, role, link) %}
  {%if req.user.hasRole(role)%}
    <a href="{{link}}">{{text}}</a>
  {%else%}
    {{text}}
  {%endif%}
{%endmacro%}

{% macro orderStatus(order) %}
  <td>{{maybeGrayedOutIcon(order.hasToBePaid, "✔️", "❌")}}</td>
  <td>{{
    orderStatusLinkOrText(
      maybeGrayedOutIcon(
        order.isPayed, "✔️", "❌", shouldGrayscale = not order.hasToBePaid
      ),
      "Payment", 
      "/admin/payment/pay/" + order.id+"/"+(not order.isPayed)
    )}}</td>
  {%if order.isPayed%}
  <td>{{orderStatusLinkOrText(
    maybeGrayedOutIcon(
      order.isHandedOut, "✔️", "❌", shouldGrayscale = not order.isPayed
    ), 
    "Handout", 
    "/admin/handout/handout/" + order.id+"/"+(not order.isHandedOut)
  )}}</td>
  {%else%}
<td>{{maybeGrayedOutIcon(
      order.isHandedOut, "✔️", "❌", shouldGrayscale = not order.isPayed
    )}}</td>
  {%endif%}
  <td>{{orderStatusLinkOrText(
    maybeGrayedOutIcon(
      req.user.hasRole("OrderManager"), "🚮"
    ), 
    "OrderManager", 
    "/admin/orders/delete/" + order.id
  )}}</td>
{% endmacro %}

{% block main %}
{# <div class="content"> #}
  <h1>Bestellungsübersicht</h1>
  <table class="beginn_table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>UserEmail</th>
        <th>ZahlungsID</th>
        <th>Muss gezahlt werden</th>
        <th>Bezahlt</th>
        <th>Ausgehändigt</th>
        <th>Löschen</th>
        <th>Bestellung</th>
        <th>Preis Gesamt</th>
      </tr>
    </thead>
  {%for user in users %}
    <tbody class="table_devider">
      <tr>
            <td rowspan="{{user.orders.length}}">{{user.Registrant.iufId}}</td>
            <td rowspan="{{user.orders.length}}">{{user.name}}</td>
            <td rowspan="{{user.orders.length}}">{{user.Registrant.email}}</td>
            <td rowspan="{{user.orders.length}}">{{user.Registrant.userEmail}}</td>
            <td>{{user.orders[0].paymentId}}</td>
            {{orderStatus(user.orders[0])}}
            <td>
              <table>
                {% set items=user.orders[0].items%}
                {% for item in items %}
                  {% for option in item.ShopItemOptions %}
                    <tr>
                      <td>{{item.label}}</td>
                      {% set optionTotalPrice=option.priceModificator + item.price %}
                      <td class="right">{{option.label}}</td>
                      <td class="right">{{optionTotalPrice}} €</td>
                      <td class="right">{{option.ShopOrderItemSelections[0].count}}</td>
                      <td class="right">{{optionTotalPrice * option.ShopOrderItemSelections[0].count}} €</td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </table>
            </td>
            
            <td class="right">{{user.orders[0].totalPrice}} €</td>
          </tr>
      {%for order in user.orders.slice(1) %}
          <tr>
            <td>{{order.paymentId}}</td>
            {{orderStatus(order)}}
            <td>
              <table>
                {% set items=order.items%}
                {% for item in items %}
                  {% for option in item.ShopItemOptions %}
                    <tr>
                      <td>{{item.label}}</td>
                      {% set optionTotalPrice=option.priceModificator + item.price %}
                      <td class="right">{{option.label}}</td>
                      <td class="right">{{optionTotalPrice}} €</td>
                      <td class="right">{{option.ShopOrderItemSelections[0].count}}</td>
                      <td class="right">{{optionTotalPrice * option.ShopOrderItemSelections[0].count}} €</td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </table>
            </td>
            
            <td class="right">{{order.totalPrice}} €</td>
          </tr>
    {%endfor%}
    <tbody>
      {% endfor %}
  </table>
{# </div> #}
{% endblock %}