{% set currentPage="Meine Küren" %}

{% extends "../base.njk" %}

{% block main %}
<div class="content">
  <h1>Deine Starts ({{ req.user.name }})</h1>
  <h2>Kürnamen werden automatisch aus dem IUF Tool (aus den Musikuploads) übertragen</h2>
  <p><strong>Nachträgliche Änderungen kannst du nur hier machen!</strong> Bitte nutze das Feld Beschreibung/Description beim Hochladen der Musik um den Kürnamen zu setzen.
  Alternativ kannst du ihn auch hier setzen.
  </p>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Kategorie</th>
        <th>Kürname</th>
        <th>Musik da?</th>
        <th>Teilnehmer</th>
      </tr>
    </thead>
    <tbody>
      {% for act in acts %}
      <tr>
        <td>{{act.EventCategory.Event.label}}</td>
        <td>{{act.EventCategory.label}}</td>
        <td>
          {{act.actName}}
        </td>
        <td>{{"✔️" if act.EventStartMusics.length else "❌"}}</td>
        <td>
          <ul>
            {% for registrant in act.Registrants %}
              <li>#{{registrant.iufId}} {{registrant.User.name}}</li>
            {%endfor%}
          </ul>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}